body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.Navigation {
  margin-bottom: 1rem;
}

.Navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Navigation li {
  display: inline-block;
}

.Navigation a {
  display: block;
  color: black;
  padding: 10px;
}

.send_icon {
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  transform: rotate(-45deg);
  /* Standard syntax */
}

.postcard {
  margin: 15px;
}

.create_form {
  margin-top: 25px;
}

.form_field_input {
  margin: 50px;
}

#form_field {
  margin: 30px;
}